# Phoenix settings
MIX_ENV=dev
# These should be sufficiently large random string values
PHOENIX_SECRET_KEY_BASE=
GUARDIAN_SECRET_KEY=

# Postgres settings
PG_HOST=db
PG_USER=postgres
PG_PASS=postgres
PG_DB=elmelixirstarter_dev

# Twitter settings
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

